@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('HelveticaNeueLTStd-Md.eot');
  src: url('HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeueLTStd-Md.ttf') format('truetype'),
       url('HelveticaNeueLTStd-Md.woff') format('woff'),
       url('HelveticaNeueLTStd-Md.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('HelveticaNeueLTStd-Bd.eot');
  src: url('HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeueLTStd-Bd.ttf') format('truetype'),
       url('HelveticaNeueLTStd-Bd.woff') format('woff'),
       url('HelveticaNeueLTStd-Bd.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('HelveticaNeueLTStd-Th.eot');
  src: url('HelveticaNeueLTStd-Th.ttf') format('truetype'),
       url('HelveticaNeueLTStd-Th.woff') format('woff'),
       url('HelveticaNeueLTStd-Th.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
