#app {
    text-transform: uppercase;
}

body {
    overflow-x: hidden;
}

.blend {
    mix-blend-mode: multiply;
}

:focus {outline:none!important;}

// responsive font size for modern browsers
@function headers-font-size($width-ratio, $mq) {
    $pad : map-get($grid-container-padding, $mq);
    @return calc((#{$width-ratio} / 100) * min(calc(#{$global-width} - #{$pad}), calc(100vw - #{$pad})));
}
@supports (width: min(10px, 5vw)) {
    h1 {
        font-size : max(27px, min(#{headers-font-size(9.1, "small")}, 12vh));
        @include breakpoint(medium) {
            font-size : max(27px, min(#{headers-font-size(9.1, "medium")}, 12vh));
        }
        @include breakpoint(large) {
            font-size : max(40px, min(#{headers-font-size(9.1, "large")}, 12vh));
        }
        @include breakpoint(xlarge) {
            font-size : max(50px, min(#{headers-font-size(9.1, "xlarge")}, 12vh));
        }
        @include breakpoint(xxlarge) {
            font-size : max(60px, min(#{headers-font-size(9.1, "xxlarge")}, 12vh));
        }
    }

    h3 {
        font-size : max(11px, min(#{headers-font-size(3, "small")}, 3.6vh));
        @include breakpoint(medium) {
            font-size : max(12px, min(#{headers-font-size(3, "medium")}, 3.6vh));
        }
        @include breakpoint(large) {
            font-size : max(12px, min(#{headers-font-size(3, "large")}, 3.6vh));
        }
        @include breakpoint(xlarge) {
            font-size : max(15px, min(#{headers-font-size(3, "xlarge")}, 3.6vh));
        }
        @include breakpoint(xxlarge) {
            font-size : max(18px, min(#{headers-font-size(3, "xxlarge")}, 3.6vh));
        }
    }
}
// NEW CARD STYLE
// ----------------
.theme-2021, .theme-2022, .theme-2023, .theme-2024, .theme-2025 {
    .project-gallery .project-card {
        .project-label-under {
            display: none;
        }
        .project-vignette {
            padding-bottom: 69.25%;
        }
    }
    .project-gallery .project-card {
        @include breakpoint(small only) {
            &.mobile-hover {
                .project-vignette {
                    opacity: 0.08;
                }
                .project-label-over {
                    opacity: 1;
                }
            }
        }
        @include breakpoint(medium up) {
            &:hover {
                .project-vignette {
                    opacity: 0.08;
                }
                .project-label-over {
                    opacity: 1;
                }
            }
        }
    }
}
// THEME theme-2021
// ----------------
.theme-2021 {
    color: get-color(blue21);
    a {
        color: get-color(blue21);
    }
    .footer {
        background-color: get-color(red21);
    }
    .image-viewer .lds-facebook div {
        background: get-color(blue21);
    }
    .my-download-button {
        color: get-color(blue21);
    }
    .my-close-button .times {
        fill: get-color(blue21);
    }
    .filter-button .filter-button-checkbox .times {
        fill: get-color(blue21);
    }
    .webexpo .webexpo-title .bg-color::before {
        background-color: get-color(red21);
    }
}
// THEME theme-2022
// ----------------
.theme-2022 {
    color: get-color(brown22);

    a {
        color: get-color(brown22);
    }

    .footer {
        background-color: get-color(blue22);
    }

    .image-viewer .lds-facebook div {
        background: get-color(brown22);
    }

    .my-download-button {
        color: get-color(brown22);
    }

    .my-close-button .times {
        fill: get-color(brown22);
    }

    .filter-button .filter-button-checkbox .times {
        fill: get-color(brown22);
    }

    .webexpo .webexpo-title .bg-color::before {
        background-color: get-color(blue22);
    }
}
// THEME theme-2023
// ----------------
.theme-2023 {
    color: get-color(brown23);

    a {
        color: get-color(brown23);
    }

    .footer {
        background-color: get-color(purple23);
    }

    .image-viewer .lds-facebook div {
        background: get-color(brown23);
    }

    .my-download-button {
        color: get-color(brown23);
    }

    .my-close-button .times {
        fill: get-color(brown23);
    }

    .filter-button .filter-button-checkbox .times {
        fill: get-color(brown23);
    }

    .webexpo .webexpo-title .bg-color::before {
        background-color: get-color(purple23);
    }
}
// THEME theme-2024
// ----------------
.theme-2024 {
    color: get-color(purple24);
    a {
        color: get-color(purple24);
    }
    .footer {
        background-color: get-color(green24);
    }
    .image-viewer .lds-facebook div {
        background: get-color(purple24);
    }
    .my-download-button {
        color: get-color(purple24);
    }
    .my-close-button .times {
        fill: get-color(purple24);
    }
    .filter-button .filter-button-checkbox .times {
        fill: get-color(purple24);
    }
    .webexpo .webexpo-title .bg-color::before {
        background-color: get-color(green24);
    }
}
// THEME theme-2024
// ----------------
.theme-2025 {
    color: get-color(petrol25);
    a {
        color: get-color(petrol25);
    }
    .footer {
        background-color: get-color(orange25);
    }
    .image-viewer .lds-facebook div {
        background: get-color(petrol25);
    }
    .my-download-button {
        color: get-color(petrol25);
    }
    .my-close-button .times {
        fill: get-color(petrol25);
    }
    .filter-button .filter-button-checkbox .times {
        fill: get-color(petrol25);
    }
    .webexpo .webexpo-title .bg-color::before {
        background-color: get-color(orange25);
    }
}
